In [1]:
import os
import pandas as pd

In [10]:
cwd = os.getcwd() # dirname(abspath(__file__))
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(cwd, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
os.makedirs(CACHE_DIR, exist_ok=True)

In [13]:
    for filename in os.listdir(DATA_DIR):
        print(filename)

1992.csv
1993.csv
1994.csv
1995.csv
1996.csv
1997.csv
1998.csv
1999.csv
2000.csv
2001.csv
2002.csv
2003.csv
2004.csv
2005.csv
2006.csv
2007.csv
2008.csv
2009.csv
2010.csv
2011.csv
2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv
2019.csv
2020.csv
2021.csv
2022.csv

In [15]:
df = []
csv_files = [x for x in os.listdir(DATA_DIR) if x.endswith(".csv")]

for filename in csv_files:
    print(filename)
    year = filename.replace(".csv", "")
    csv_path = os.path.join(DATA_DIR, filename)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = filename
    this_df['year'] = year
    print(this_df.head(n=1))
    my_dataframes.append(this_df)

1992.csv
   Rank Release Group     Worldwide      Domestic      %       Foreign    %.1  \
0     1       Aladdin  $346,476,295  $217,350,219  62.7%  $129,126,076  37.3%

   filename  year
0  1992.csv  1992
1993.csv
   Rank  Release Group     Worldwide      Domestic      %       Foreign  \
0     1  Jurassic Park  $978,167,947  $357,067,947  36.5%  $621,100,000

     %.1  filename  year
0  63.5%  1993.csv  1993
1994.csv
   Rank  Release Group     Worldwide      Domestic      %       Foreign  \
0     1  The Lion King  $858,555,561  $312,855,561  36.4%  $545,700,000

     %.1  filename  year
0  63.6%  1994.csv  1994
1995.csv
   Rank Release Group     Worldwide      Domestic      %      Foreign    %.1  \
0     1     Toy Story  $244,651,588  $191,796,233  78.4%  $52,855,355  21.6%

   filename  year
0  1995.csv  1995
1996.csv
   Rank     Release Group     Worldwide      Domestic     % Foreign %.1  \
0     1  Independence Day  $306,169,268  $306,169,268  100%       -   -

   filename  year
0  1996.csv  1996
1997.csv
   Rank Release Group       Worldwide      Domestic      %         Foreign  \
0     1       Titanic  $1,843,478,449  $600,788,188  32.6%  $1,242,690,261

     %.1  filename  year
0  67.4%  1997.csv  1997
1998.csv
   Rank Release Group     Worldwide      Domestic      %       Foreign    %.1  \
0     1    Armageddon  $553,709,788  $201,578,182  36.4%  $352,131,606  63.6%

   filename  year
0  1998.csv  1998
1999.csv
   Rank                              Release Group     Worldwide  \
0     1  Star Wars: Episode I - The Phantom Menace  $924,305,084

       Domestic      %       Foreign    %.1  filename  year
0  $431,088,295  46.6%  $493,216,789  53.4%  1999.csv  1999
2000.csv
   Rank           Release Group     Worldwide      Domestic      %  \
0     1  Mission: Impossible II  $546,388,108  $215,409,889  39.4%

        Foreign    %.1  filename  year
0  $330,978,219  60.6%  2000.csv  2000
2001.csv
   Rank                          Release Group     Worldwide      Domestic  \
0     1  Harry Potter and the Sorcerer's Stone  $974,755,371  $317,575,550

       %       Foreign    %.1  filename  year
0  32.6%  $657,179,821  67.4%  2001.csv  2001
2002.csv
   Rank                          Release Group     Worldwide      Domestic  \
0     1  The Lord of the Rings: The Two Towers  $936,689,735  $339,789,881

       %       Foreign    %.1  filename  year
0  36.3%  $596,899,854  63.7%  2002.csv  2002
2003.csv
   Rank                                  Release Group       Worldwide  \
0     1  The Lord of the Rings: The Return of the King  $1,140,682,011

       Domestic      %       Foreign    %.1  filename  year
0  $377,027,325  33.1%  $763,654,686  66.9%  2003.csv  2003
2004.csv
   Rank Release Group     Worldwide      Domestic      %       Foreign    %.1  \
0     1       Shrek 2  $928,760,770  $441,226,247  47.5%  $487,534,523  52.5%

   filename  year
0  2004.csv  2004
2005.csv
   Rank                        Release Group     Worldwide      Domestic  \
0     1  Harry Potter and the Goblet of Fire  $895,921,036  $290,013,036

       %       Foreign    %.1  filename  year
0  32.4%  $605,908,000  67.6%  2005.csv  2005
2006.csv
   Rank                               Release Group       Worldwide  \
0     1  Pirates of the Caribbean: Dead Man's Chest  $1,066,179,725

       Domestic      %       Foreign    %.1  filename  year
0  $423,315,812  39.7%  $642,863,913  60.3%  2006.csv  2006
2007.csv
   Rank                             Release Group     Worldwide      Domestic  \
0     1  Pirates of the Caribbean: At World's End  $960,996,492  $309,420,425

       %       Foreign    %.1  filename  year
0  32.2%  $651,576,067  67.8%  2007.csv  2007
2008.csv
   Rank    Release Group       Worldwide      Domestic      %       Foreign  \
0     1  The Dark Knight  $1,003,045,358  $533,345,358  53.2%  $469,700,000

     %.1  filename  year
0  46.8%  2008.csv  2008
2009.csv
   Rank Release Group       Worldwide      Domestic      %         Foreign  \
0     1        Avatar  $2,743,577,587  $749,766,139  27.3%  $1,993,811,448

     %.1  filename  year
0  72.7%  2009.csv  2009
2010.csv
   Rank Release Group       Worldwide      Domestic      %       Foreign  \
0     1   Toy Story 3  $1,066,969,703  $415,004,880  38.9%  $651,964,823

     %.1  filename  year
0  61.1%  2010.csv  2010
2011.csv
   Rank                                 Release Group       Worldwide  \
0     1  Harry Potter and the Deathly Hallows: Part 2  $1,341,511,219

       Domestic      %       Foreign    %.1  filename  year
0  $381,011,219  28.4%  $960,500,000  71.6%  2011.csv  2011
2012.csv
   Rank Release Group       Worldwide      Domestic    %       Foreign  %.1  \
0     1  The Avengers  $1,518,812,988  $623,357,910  41%  $895,455,078  59%

   filename  year
0  2012.csv  2012
2013.csv
   Rank Release Group       Worldwide      Domestic      %       Foreign  \
0     1        Frozen  $1,280,802,282  $400,738,009  31.3%  $880,064,273

     %.1  filename  year
0  68.7%  2013.csv  2013
2014.csv
   Rank                    Release Group       Worldwide      Domestic      %  \
0     1  Transformers: Age of Extinction  $1,104,054,072  $245,439,076  22.2%

        Foreign    %.1  filename  year
0  $858,614,996  77.8%  2014.csv  2014
2015.csv
   Rank                               Release Group       Worldwide  \
0     1  Star Wars: Episode VII - The Force Awakens  $2,068,223,624

       Domestic      %         Foreign    %.1  filename  year
0  $936,662,225  45.3%  $1,131,561,399  54.7%  2015.csv  2015
2016.csv
   Rank               Release Group       Worldwide      Domestic      %  \
0     1  Captain America: Civil War  $1,153,296,293  $408,084,349  35.4%

        Foreign    %.1  filename  year
0  $745,211,944  64.6%  2016.csv  2016
2017.csv
   Rank                            Release Group       Worldwide  \
0     1  Star Wars: Episode VIII - The Last Jedi  $1,332,539,889

       Domestic      %       Foreign    %.1  filename  year
0  $620,181,382  46.5%  $712,358,507  53.5%  2017.csv  2017
2018.csv
   Rank           Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Infinity War  $2,048,359,754  $678,815,482  33.1%

          Foreign    %.1  filename  year
0  $1,369,544,272  66.9%  2018.csv  2018
2019.csv
   Rank      Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Endgame  $2,797,501,328  $858,373,000  30.7%

          Foreign    %.1  filename  year
0  $1,939,128,328  69.3%  2019.csv  2019
2020.csv
   Rank      Release Group     Worldwide  Domestic      %       Foreign  \
0     1  The Eight Hundred  $461,421,559  $372,755  <0.1%  $461,048,804

     %.1  filename  year
0  99.9%  2020.csv  2020
2021.csv
   Rank            Release Group       Worldwide      Domestic      %  \
0     1  Spider-Man: No Way Home  $1,892,768,346  $804,768,346  42.5%

          Foreign    %.1  filename  year
0  $1,088,000,000  57.5%  2021.csv  2021
2022.csv
   Rank                                Release Group     Worldwide  \
0     1  Doctor Strange in the Multiverse of Madness  $910,239,505

       Domestic      %       Foreign    %.1  filename  year
0  $388,633,292  42.7%  $521,606,213  57.3%  2022.csv  2022

In [16]:
all_df = pd.concat(my_dataframes)

In [17]:
all_df

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,Aladdin,"$346,476,295","$217,350,219",62.7%,"$129,126,076",37.3%,1992.csv,1992
1,2,Home Alone 2: Lost in New York,"$173,585,516","$173,585,516",100%,-,-,1992.csv,1992
2,3,Batman Returns,"$162,831,698","$162,831,698",100%,-,-,1992.csv,1992
3,4,Lethal Weapon 3,"$144,731,527","$144,731,527",100%,-,-,1992.csv,1992
4,5,A Few Good Men,"$141,340,178","$141,340,178",100%,-,-,1992.csv,1992
...,...,...,...,...,...,...,...,...,...
195,196,Too Old for Fairy Tales,"$1,223,135",-,-,"$1,223,135",100%,2022.csv,2022
196,197,Moya uzhasnaya sestra,"$1,213,924",-,-,"$1,213,924",100%,2022.csv,2022
197,198,Johnny's Jr. Our Survival Wars,"$1,211,524",-,-,"$1,211,524",100%,2022.csv,2022
198,199,Urban Myths,"$1,199,940",-,-,"$1,199,940",100%,2022.csv,2022
199,200,Butt Detective The Movie: The Secret of Souffl...,"$1,197,338",-,-,"$1,197,338",100%,2022.csv,2022

In [21]:
dataset = os.path.join(cwd, 'movies-box-office-dataset.csv')
all_df.to_csv(dataset, index=False)